body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background-color: antiquewhite;
}


.all {}

h1 {
    width: fit-content;
    margin-inline: auto;
    border-bottom: 3px solid black;
}