:root {
    --White: hsl(0, 0%, 100%);
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

.all {
    padding: 28px;
    background-color: var(--White);
    border-radius: 13px;
    color: rgb(93, 84, 84);
}

@media(max-width:550px) {
    .all {
        padding: 0;
        min-width: 260px;
    }
}