html,
body {
    /* padding: 0px; */
    margin: 0px;
    background-color: #9a4d62;
    padding: 10px;

}

/* Yass Queen: #ff1d58

Sister Sister: #f75990

Crown Yellow: #fff685

Blue Light: #00DDFF

Brutal Blue: #0049B7 */
.container-all {
    margin: 10px;
    box-sizing: border-box;
    top: 0px;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #f75990; */
    border-radius: 15px;
}

h1 {
    font-size: 38px;
}

.form-add {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 14px;
    width: 300px;
    background-color: #fff685;
    color: black;
    align-items: center;
    gap: 5px;

}


.clickAdd {
    background-color: black;
    color: white;
    font-size: 23.5px;
    font-weight: 500;
}

.clickAdd:hover {
    background-color: #9a4d62;
}

input {
    margin: 10px;

}


#sortUl {
    color: #ff1d58;
    font-size: 19px;
    margin-left: 28px;
}

.filterWhriting {
    margin-inline: auto;
}

.title-grid {
    text-align: center;
    color: black;
    font-weight: 800;
    font-size: 70px;

    /* מסגרת סביב האותיות */
    text-shadow:
        2px 2px 0px white,
        /* צל ימינה למטה */
        -2px 2px 0px white,
        /* צל שמאלה למטה */
        2px -2px 0px white,
        /* צל ימינה למעלה */
        -2px -2px 0px white;
    /* צל שמאלה למעלה */
}


.table-container {
    background-color: #fff685;
    padding: 30px;
    border-radius: 12px;
    margin-bottom: 60px;
}

.render-table {


    border-collapse: collapse;
    margin-inline: auto;
    background-color: #fff685;
    margin: 10px;
    color: black;


}

.Department,
.form-add input {
    width: 90%;
    margin-block: 10px;
}

.render-table,
th,
td {
    border: 2px solid #9a4d62;
    padding: 6px;

}

button {
    margin: 5px;
}

.sortBtn {
    color: white;
    background-color: black;
    font-weight: 500;
    font-size: 20px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.sortBtn:hover {
    opacity: 0.5;
}

.hidden {
    display: none;
}

.deleteBtn::before {
    content: "🗑️";
    margin-right: 5px;
}

.edit::before {
    content: "✏️";
    margin-right: 5px;
}

.deleteBtn,
.edit {
    background-color: black;
    color: white;
    font-size: 10px;
    font-weight: 600;
    border: none;
    padding: 10px;
    cursor: pointer;
    min-width: 70px;
    border-radius: 5px;
}

.deleteBtn:hover {
    background-color: #ff1d58;
}

.edit:hover {
    background-color: #9a4d62;
}

#sortUl {
    position: absolute;
    background-color: white;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
    list-style-type: none;
    margin-bottom: 10px;
}

#sortUl li {
    padding: 8px 12px;
    cursor: pointer;
}

#sortUl li:hover {
    background-color: #f0f0f0;
}

/* 
.DepartmentChoose {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
    list-style-type: none;
} */
.filterWhriting button {
    background-color: black;
    color: white;

}

@media(min-width:1024px) {
    .form-add {
        width: 500px;

    }

    h1 {
        font-size: 45px;
    }

    .form-add input,
    .form-add select {
        width: 400px;
        padding-block: 8px;
    }
}