html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

.nav-links {
    background-color: rgb(105, 179, 179);
    padding: 17px;
    display: flex;
    justify-content: space-between;
}

a {
    color: black;
}

.li-book {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(70, 139, 139);
    padding: 20px;
    border-radius: 20px;
    border: 3px solid black;
}

.book-ul-all {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.title {
    width: fit-content;
    margin-inline: auto;
    font-weight: 800;
    font-size: 40px;
}