<form
  (ngSubmit)="login()"
  style="
    display: flex;
    margin: 80px auto;
    width: 400px;
    padding: 30px;
    background-color: blanchedalmond;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  "
>
  <h1 style="text-align: center; margin-bottom: 20px; color: #333">Login</h1>
  <div
    style="display: flex; flex-direction: column; gap: 20px; padding: 0 20px"
  >
    <label for="email" style="font-weight: bold; color: #555">Email</label>
    <input
      id="email"
      type="email"
      placeholder="Enter your email"
      [(ngModel)]="email"
      name="email"
      style="
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
      "
      required
      
    />
    <label for="password" style="font-weight: bold; color: #555"
      >Password</label
    >
    <input
      id="password"
      type="password"
      placeholder="Enter your password"
      [(ngModel)]="password"
      name="password"
      style="
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
      "
      required
    />
  </div>

  <button
    type="submit"
    style="
      margin-top: 20px;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: #333;
      color: white;
      font-size: 18px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    "
    onmouseover="this.style.backgroundColor='#555'"
    onmouseout="this.style.backgroundColor='#333'"
  >
    Login
  </button>
</form>
