body,
html {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: antiquewhite;

}

h1 {
    font-size: 80px;
}

img {
    width: 90%;
    margin-bottom: 15px;


}

.elGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
}